<h1>New game</h1>
<ul class="list-group list-group-horizontal">
  <% @letters.each do |letter| %>
    <li class="list-group-item bg-primary text-white mx-1 my-1 border border-0 rounded"><%= letter %></li>
  <% end %>
</ul>
<form action="/score" method="POST" data-turbo="false">
  <div class="mb-3">
    <label for="word" class="form-label">What is the longest word you can find?</label>
    <input type="text" name="word" id="word" class="form-control">
  </div>
  <input type="submit" value="Play" class="btn btn-info">
  <%= hidden_field_tag :letters, @letters %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
<p>My score is <%= session[:total_score] %></p>
